* {
  all: unset;
  font-family: "MonaspiceNe Nerd Font Mono";
  font-size: 14px;
}

.brightness-container {
  background-color: rgba($crust, 0.65);
  border: 1px solid rgba($surface1, 0.6);
  border-radius: 3px;
  padding: 10px 15px;
}

.brightness-scale {
  min-width: 300px;
  min-height: 10px;
}

scale trough {
  background-color: $surface0;
  border-radius: 3px;
  min-height: 5px;
  min-width: 300px;
}

scale highlight {
  background-color: $accent;
  border-radius: 3px;
}

scale slider {
  background-color: $accent;
  border: 2px solid $overlay;
  border-radius: 4px;
  min-width: 12px;
  min-height: 12px;
  margin: -4px;
  box-shadow: none;
  background-image: none;
}

scale slider:hover {
  background-color: $accent2;
  border-color: $accent;
}
